*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background-image: linear-gradient(to bottom left, 
    rgba(17, 217, 207, 0.841), 
    rgba(228, 12, 116, 0.682), 
    rgba(12, 243, 12, 0.803),
    rgb(23, 228, 224),
    rgba(71, 233, 21, 0.819),
    rgba(232, 232, 20, 0.774),
    rgba(52, 20, 195, 0.427),
    rgba(216, 23, 206, 0.826),
    rgba(222, 26, 26, 0.786)
    );
    background: linear-gradient();
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}
h3{
    color: rgb(9, 2, 2);
    text-shadow: 1px 1px 9px #faf7f7;
    margin: 10px 0 20px;
}
.container{
    width: 500px;
}
#textarea{
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}
.tag{
    background-color: rgb(255, 0, 85);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
}
.tag.highlight{
    background-color: #fff;
    color: rgb(255, 0, 89);
    box-shadow: 2px 2px 15px 5px rgb(204, 9, 44);
}
#btn{

    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;
    font-weight: bolder;
    cursor: pointer;

}
#btn:hover{
    transform: scale(1.1);
    transition: all 0.5s ;
    color: rgb(221, 10, 91);
    
}
